<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function(){
	$("#menubutton").click(function() {
		  $("#usermenu").slideToggle();
		});
});


</script>
<title>アドベントカレンダー</title>
</head>
<body>

<div class="adminbody">

	<div class="adminheader">
	
		<div class="tr">
		
				<div class="titlebox">
				
						<h2><a href="/">アドベントカレンダー</a></h2>
				
				</div>
	
			<div class="stat">
			
				<a href="/loginForm" sec:authorize="isAnonymous()">ログイン</a><br sec:authorize="isAnonymous()" />
				<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()">duke　さん</span><br sec:authorize="isAuthenticated()"  />
				<img src="/icon/usericon.jpg" sec:authorize="isAuthenticated()" class="usericon" />
				<div id="menubutton" sec:authorize="isAuthenticated()">▼</div>
				
				<div id="usermenu" sec:authorize="isAuthenticated()">
					<a href = "/users" sec:authorize="hasRole('ROLE_ADMIN')">ユーザー管理</a>
					<a href = "/theme" sec:authorize="hasRole('ROLE_ADMIN')" class="br">テーマ管理</a>
					<a href = "/" sec:authorize="isAuthenticated()" class="br">トップ画面へ戻る</a><span class="br"></span>
					<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"><input type="submit" class="btn btn-default btn-xs" value="ログアウト" /></form>
				</div>
	
			</div>
	
		</div>
	
	</div>
	
	<div class="table" style="width:80%;margin-left:auto;margin-right:auto;">
	
		<div class="tr">
		
			<div class="title">
			
			<h3>ユーザーの更新</h3>
			
			</div>
			
		</div>
		
	</div>
	
	<div class="admintable">
		
		<form th:action="@{/users/edit}" th:object="${userForm}" method="post" class="form-horizontal">
			<fieldset>
				<legend>ユーザー情報編集</legend>
					<div class="form-group" th:classapend="${#fields.hasErrors('username')}? 'has-error has-feedback'">
						<label for="lastName" class="col-sm-2 control-label">ユーザーネーム</label>
							<div class="col-sm-10">
								<input type="text" id="username" name="username" th:field="*{username}" class="form-control" value="山田" />
									<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help-block">error!</span>
							</div>
						<label for="password" class="col-sm-2 control-label">パスワード</label>
						<div class="col-sm-10">
							<input type="text" id="password" name="password" th:field="*{password}" class="form-control" value="太郎" />
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block">error!</span>
						</div>
						<label for="email" class="col-sm-2 control-label">メールアドレス</label>
						<div class="col-sm-10">
							<input type="email" id="email" name="email" th:field="*{email}" class="form-control" value="めーる" />
							<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">error!</span>
						</div>
						<label for="role" class="col-sm-2 control-label">権限</label>
						<div class="col-sm-10">
							<input type="radio" name="role" th:value="1" id="role" th:field="*{role}" class="form-control" />通常ユーザー
							<input type="radio" name="role" th:value="127" id="role" th:field="*{role}" class="form-control" />管理者
							<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="help-block">error!</span>
						</div>
						</div>
						</fieldset>	
						<div class="container-fluid">
						<div class="row">
						<div class="col-sm-10">
						<strong>登録日時</strong>
						</div>
						<div class="col-sm-10">
							<span th:text="${#dates.format(created,'yyyy/MM/dd HH:MM')}"></span>	
						</div>
						<div class="col-sm-10">
						<strong>更新日時</strong>
						</div>
						<div class="col-sm-10">
							<span th:text="${#dates.format(updated,'yyyy/MM/dd HH:MM')}"></span>
						</div>
						</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="hidden" name="id" th:value="${param.id[0]}" />
								<button type="submit" class="btn btn-primary btn-lg">更新</button>
								<button class="btn btn-danger btn-lg" type="submit" th:formaction="@{/users/delete}" id="delete">削除</button>
								<button name="goToTop" type="submit" class="btn btn-default btn-lg" formnovalidate="formnovalidate">戻る</button>
							</div>
						</div>				
					</form>
					
			</div>
	
		</div>
</body>
</html>