<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function(){
	$("#menubutton").click(function() {
		  $("#usermenu").slideToggle();
		});
});
</script>
<title>アドベントカレンダー</title>
</head>
<body>

<div class="adminbody">

	<div class="adminheader">
	
		<div class="tr">
		
				<div class="titlebox">
				
						<h2><a href="/">アドベントカレンダー</a></h2>
				
				</div>
	
			<div class="stat">
			
				<a href="/loginForm" sec:authorize="isAnonymous()">ログイン</a><br sec:authorize="isAnonymous()" />
				<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()">duke　さん</span><br sec:authorize="isAuthenticated()"  />
				<img src="/icon/usericon.jpg" sec:authorize="isAuthenticated()" class="usericon" />
				<div id="menubutton" sec:authorize="isAuthenticated()">▼</div>
				
				<div id="usermenu" sec:authorize="isAuthenticated()">
					<a href = "/users" sec:authorize="hasRole('ROLE_ADMIN')">ユーザー管理</a>
					<a href = "/theme" sec:authorize="hasRole('ROLE_ADMIN')" class="br">テーマ管理</a>
					<a href = "/" sec:authorize="isAuthenticated()" class="br">トップ画面へ戻る</a><span class="br"></span>
					<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"><input type="submit" class="btn btn-default btn-xs" value="ログアウト" /></form>
				</div>
	
			</div>
	
		</div>
	
	</div>
	
	<div class="table" style="width:80%;margin-left:auto;margin-right:auto;">
	
		<div class="tr">
		
			<div class="title">
			
			<h3>ユーザー一覧</h3>
			
			</div>
			
			<div class="stat" style="padding-top:20px;">
			
			<input type="button" onclick="location.href='/users/create'" value="ユーザーの追加" class="btn-lg" />
			
			</div>
			
		</div>
		
	</div>

	<div class="admintable">
		
		<div class="tr">
		
			<div class="subtitle">
			
				ユーザーID
			
			</div>
			
			<div class="subtitle">
			
				名前
			
			</div>
			
			<div class="subtitle">
			
				登録日時
			
			</div>
		
		</div>
		
	</div>
	
	<div class="admintable">
		
		<div th:each="users:${users}" class="tr">
			
			<form th:action="@{/users/edit}" method="get">
				<button class="listbutton" type="submit" name="form" value="編集">
				<div th:text="${users.id}" class="adminlist"></div>
				<div th:text="${users.username}" class="adminlist"></div>
				<div th:text="${#dates.format(users.created,'yyyy/MM/dd HH:MM')}" class="adminlists"></div>
				</button>
				<input type="hidden" name="id" th:value="${users.id}" />
			</form>
		
		</div>

	</div>
	
</div>
</body>
</html>