<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function(){
	$("#menubutton").click(function() {
		  $("#usermenu").slideToggle();
		});
	
    $(document).on("click","button",function(){
		var ArticleID = $(this).parent("div").attr("id");
		console.log(ArticleID);
		$("#articleSubmit").attr({"data-change":ArticleID});
		$("#editSubmit").attr({"data-change":ArticleID});
		$("#deleteSubmit").attr({"data-change":ArticleID});
		});
    
    var flag = true;
    var flag2 = true;
  
    $("input[name='url']").change(function(){
		if ($(this).val() != "" && $(this).val() != "http://" && $(this).val() != "https://"){
			if ($(this).val().slice(0, 7) == "http://" || $(this).val().slice(0, 8) == "https://") {
				var checkDot = $(this).val().split(".");
				if (1 < checkDot.length) {
					$('.url').html('<span class="blue">OK</span>');
					flag = true;
				}else{
					$('.url').html('<span class="red">URLの形式でご記入ください。</span>');
					flag = false;
				}
    		}else{
    			$('.url').html('<span class="red">http://またはhttps://から書いてください。</span>');
    			flag = false;
    		}
		}else{
			$('.url').html('<span class="red">空欄または、http://・https://だけでは投稿できません。</span>');
			flag = false;
		}
	});
    
    $("input[name='title']").change(function(){
	  	if($(this).val() == ""){
	   		$('.title').html('<span class="red">空欄です。</span>');
	   		flag2 = false;
	    	}else{
	    	$('.title').html('<span class="blue">OK</span>');
	    	flag2 = true;
	    }
    });
    
    $("input[name='url'],input[name='title']").change(function(){
		console.log(flag);
		console.log(flag2);
    	if(flag == true && flag2 == true){
    		$("#articleSubmit,#editSubmit").prop('disabled', false);
    		console.log(flag);
    		console.log(flag2);
    	} else {
    		$("#articleSubmit,#editSubmit").prop('disabled', true);
    	}
    })
});
	
function articleCreate(){
		$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
          	var token = $("meta[name='_csrf']").attr("content");
          	var header = $("meta[name='_csrf_header']").attr("content");
          	jqXHR.setRequestHeader(header, token);
		});
        var jsonString = $('form[name=createArticle]').serializeArray();
	  	var formData = JSON.stringify(jsonString);
		$.ajax({
			type: 'POST',
			url: '/createAjax',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		}).done(function(data){
			var change = $("#articleSubmit").attr("data-change");
			var username = $("#loggedInUser").text();
			var hiduke = $("#"+change).find("button").attr("id");
			console.log(change);
			console.log(hiduke);
			$("#"+change).removeClass("articleButton").addClass("article");
			$("#"+change).html('<img src="icon/usericon.jpg" class="icon"/>' +username+ '<span class="br"></span><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editArticle" onclick="getEditID(this)" id="">記事更新</button><span class="br"></span><a href="" style="display:none" id="ajaxUrl" class="">test</a><span id="ajaxTitle" class="">' + data.title + '</span>');
			$("#ajaxUrl").attr("href",data.url);
			$("#"+change).children("button").attr("id",hiduke);
			$("#"+change).children("#ajaxTitle").attr("class",hiduke);
			$("#"+change).children("#ajaxUrl").attr("class",hiduke);
			$('body').removeClass('modal-open');
			$('.modal-backdrop').remove();
			$('#createArticle').modal('hide');
		}).fail(function(data){
			$("#createDate").append('<p class="red">通信エラーが発生しました。しばらくしてから再度お試しください。</p>')
		});
	}
	
function articleEdit(){
	$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
      	var token = $("meta[name='_csrf']").attr("content");
      	var header = $("meta[name='_csrf_header']").attr("content");
      	jqXHR.setRequestHeader(header, token);
	});
    var jsonString = $('form[name=editArticle]').serializeArray();
  	var formData = JSON.stringify(jsonString);
	$.ajax({
		type: 'POST',
		url: '/editAjax',
		data: JSON.stringify(jsonString),
		contentType: 'application/json',
		datatype: 'json',
		scriptCharset: 'utf-8'
	}).done(function(data){
		var change = $("#editSubmit").attr("data-change");
		var username = $("#loggedInUser").text();
		var hiduke = $("#"+change).find("button").attr("id");
		console.log(change);
		console.log(hiduke);
		$("#"+change).html('<img src="icon/usericon.jpg" class="icon"/>' +username+ '<span class="br"></span><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editArticle" onclick="getEditID(this)" id="">記事更新</button><span class="br"></span><a href="" style="display:none" id="ajaxUrl" class="">test</a><span id="ajaxTitle" class="">' + data.title + '</span>');
		$("#ajaxUrl").attr("href",data.url);
		$("#"+change).children("button").attr("id",hiduke);
		$("#"+change).children("#ajaxTitle").attr("class",hiduke);
		$("#"+change).children("#ajaxUrl").attr("class",hiduke);
		$('body').removeClass('modal-open');
		$('.modal-backdrop').remove();
		$('#editArticle').modal('hide');
	}).fail(function(data){
		$("#editDate").append('<p class="red">通信エラーが発生しました。しばらくしてから再度お試しください。</p>')
	});
}

function articleDelete(){
	$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
      	var token = $("meta[name='_csrf']").attr("content");
      	var header = $("meta[name='_csrf_header']").attr("content");
      	jqXHR.setRequestHeader(header, token);
	});
    var jsonString = $('form[name=editArticle]').serializeArray();
  	var formData = JSON.stringify(jsonString);
	$.ajax({
		type: 'POST',
		url: '/deleteAjax',
		data: JSON.stringify(jsonString),
		contentType: 'application/json',
		datatype: 'json',
		scriptCharset: 'utf-8'
	}).done(function(data){
		var change = $("#deleteSubmit").attr("data-change");
		var hiduke = $("#"+change).find("button").attr("id");
		console.log(change);
		console.log(hiduke);
		$("#"+change).removeClass("article").addClass("articleButton");
		$("#"+change).html('<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createArticle" onClick="getID(this)" id="">記事登録</button>');
		$("#"+change).children("button").attr("id",hiduke);
		$('body').removeClass('modal-open');
		$('.modal-backdrop').remove();
		$('#editArticle').modal('hide');
	}).fail(function(data){
		$("#createDate").append('<p class="red">通信エラーが発生しました。しばらくしてから再度お試しください。</p>')
	});
}

function getArticleDay(element){
	var day = element.id;
	var el = document.getElementById('articleSubmit');
	el.setAttribute("name",day);
}
	
function getID(element) {
	var date = element.id;
	var fdate = date.replace(/-/g,'/');
	var elem = document.getElementById('createDate');
	elem.innerHTML = "<p>" + fdate + "</p>";
	document.createArticle.calendarDate.value=date;
	var form = document.forms.usrid;
	var subid = form.subid.value;
	document.createArticle.userid.value=subid;
}

function getEditID(element) {
	var date = element.id;
	var article = document.getElementsByClassName(date);
	var url = article[0].getAttribute("href");
	var title = article[1].innerHTML;
	var fdate = date.replace(/-/g,'/');
	var elem = document.getElementById('editDate');
	elem.innerHTML = "<p>" + fdate + "</p>";
	document.editArticle.calendarDate.value=date;
	document.editArticle.url.value=url;
	document.editArticle.title.value=title;
	var form = document.forms.usrid;
	var subid = form.subid.value;
	document.editArticle.userid.value=subid;
}

</script>
<title>アドベントカレンダー</title>
</head>

<body>

<div th:object="${users}" th:each="users:${users}"  th:if="${username} == ${users.username}">

	<form name="usrid">
		<input type="hidden" name="subid" th:value="${users.id}" />	
	</form>

</div>

<div class="body">

	<div class="header">
	
		<div class="tr">
		
				<div class="titlebox">
						<h2>アドベントカレンダー</h2>
				</div>
	
			<div class="stat">
			
				<a href="/loginForm" sec:authorize="isAnonymous()">ログイン</a><br sec:authorize="isAnonymous()" />
				<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()" id="loggedInUser">duke　さん</span><br sec:authorize="isAuthenticated()"  />
				<img src="/icon/usericon.jpg" sec:authorize="isAuthenticated()" class="usericon" />
				<div id="menubutton" sec:authorize="isAuthenticated()">▼</div>
				
				<div id="usermenu" sec:authorize="isAuthenticated()">
					<a href = "/users" sec:authorize="hasRole('ROLE_ADMIN')">ユーザー管理</a>
					<a href = "/theme" sec:authorize="hasRole('ROLE_ADMIN')" class="br">テーマ管理</a>
					<a href = "/" sec:authorize="isAuthenticated()" class="br">トップ画面へ戻る</a><span class="br"></span>
					<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"><input type="submit" class="btn btn-default btn-xs" value="ログアウト" /></form>
				</div>
	
			</div>
	
		</div>
	
	</div>
	
		<div id="theme" th:if="${theme} == null">
		
			<span>テーマが存在しません。<span th:text="${#dates.format(#dates.createNow(), 'yyyy年MM月dd日')}"></span>時点のカレンダーを表示しています。</span>
		
		</div>
		
		<div id="theme" th:if = "${theme} != null">
		
			<div class="tr">
			
				<div id="changemonth">
			
					<a href="backmonth" th:if="(__${isBack}__) == true">
					<img src="icon/left.png" class="icon" /></a>
					<img src="icon/space.png" th:if="(__${isBack}__) == false" class="icon" />
					<span th:text="${#dates.format(theme.calendarMonth,'yyyy 年MM 月')}">カレンダーの月</span>
					<a href="nextmonth" th:if="(__${isNext}__) == true">
					<img src="icon/right.png" class="icon" /></a>
					<img src="icon/space.png" th:if="(__${isNext}__) == false" class="icon" />
			
				</div>
				
			</div>
			
			<div class="tr">
			
				<div id="details">
			
					<span class="br">今月のテーマは<span th:text = "${theme.name}">テーマ</span></span>
					<span class="br" th:text="${theme.detail}">ディテール</span>
		
				</div>
				
			</div>
			
		</div>
	
	<div class="table">
		
		<div class="tbody">
		
			<div class="tr">
			
				<div th:class="week"><span class="red">日</span></div>
				<div class="week">月</div>
				<div class="week">火</div>
				<div class="week">水</div>
				<div class="week">木</div>
				<div class="week">金</div>
				<div class="week"><span class="blue">土</span></div>
				
			</div>
			
			<div th:object = "${calendar}" th:each="week,stat: ${calendar}" class="tr">
			
				<div th:each="days,stat: ${week}" class="td">
				
					<div class="day">
				
						<!-- 土日でなく、今月である黒色の日付を表示 -->
						<span th:text="${days.day}" th:if="${days.isHoliday} == false and ${days.isAvalable}">日付</span>
						<!-- 土日でかつ日曜日であれば赤、週の最後は土曜日なので青 -->
						<span th:text="${days.day}" th:class="red" th:if = "${days.isHoliday} and ${days.isAvalable}" th:classappend = "${stat.count} % 7 == 0 ? 'blue'">日付</span>
						<!-- 有効月でなければグレー。 -->
						<span th:text="${days.day}" th:class="gray" th:if = "${days.isAvalable} == false">日付</span>
				
					</div>
					
					<div th:if="${days.article} == null and ${days.isEnabled} and ${days.isAvalable} and ${days.isArrive} == false" class="articleButton" th:id="${days.day}">
						
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createArticle" onClick="getID(this)" th:id="${days.date}"
							sec:authorize="isAuthenticated()">
								記事登録
							</button>
						
						
						
							<button type="button" class="btn btn-primary btn-1g" sec:authorize="isAnonymous()" onclick="location.href='/loginForm'">
								記事登録
							</button>
						
					</div>
					
					<div th:if="${days.isRegistered} and ${days.isAvalable} and ${days.isArrive} == true" class="article" th:id="${days.day}">
					
						<img src="icon/usericon.jpg" class="icon"/>
						<span th:object="${users}" th:each="users:${users}">
							<span th:if="${users.id} == ${days.article.userid}" th:text="${users.username}">username</span>
						</span>
						<span class="br"  th:if ="${days.article.userid} == ${loginid}"></span>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editArticle" onclick="getEditID(this);" th:id="${days.date}"
							sec:authorize="isAuthenticated()" th:if ="${days.article.userid} == ${loginid}">
								記事更新
							</button>
						<span class="br">
						</span>
						<a th:href="${days.article.url}" th:class="${days.date}" target="_blank">
							<span th:text="${days.article.title}" th:class="${days.date}">title</span>
						</a>
						
					</div>
					
					<div th:if="${days.isRegistered} and ${days.isAvalable} and ${days.isArrive} == false" class="article" th:id="${days.day}">

						<img src="icon/usericon.jpg" class="icon"/><span th:object="${users}" th:each="users:${users}"><span th:if="${users.id} == ${days.article.userid}" th:text="${users.username}">username</span></span>
						<span class="br" th:if="${days.article.userid} == ${loginid}"></span>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editArticle" onclick="getEditID(this);" th:id="${days.date}"
							th:if ="${days.article.userid} == ${loginid}" sec:authorize="isAuthenticated()">
								記事更新
							</button>
						<span th:text="${days.article.title}" class="br">title</span>
						<a th:href="${days.article.url}" th:class="${days.date}" target="_blank" style="display:none">
							<span th:text="${days.article.title}" th:class="${days.date}">title</span>
						</a>
						<p class="br">
							公開まで…<span th:text="${days.diff}">ひにち</span>日です。
						</p>
						
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>

<div class="modal fade" id="createArticle">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
			<div class="text-right">
			
				<a href="#" class="btn btn-default" data-dismiss="modal">☓閉じる</a>
			
			</div>
		
			<div class="modal-header">
			
				<h2>記事登録</h2>
			
			</div>
			
			<div class="modal-body">
				
				<div>
				
					<img src="icon/usericon.jpg" class="usericon"/>
					<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()">username</span>
				
				</div>
				
				<div style="font-size:17px;">
				
				<p id="createDate"></p>
				
				</div>
				
				
					<form name="createArticle" method="post" th:object="${articleForm}" th:action="@{/create}">
						<input type="hidden" name="userid" th:field="*{userid}" value="" />
						<input type="hidden" name="calendarDate" th:field="*{calendarDate}" placeholder="日付" value="" />
						
						<div class="form-group">
							<label>タイトル</label>
							<input type="text" name="title" th:field="*{title}" placeholder="タイトル" required="required" autofocus="autofocus" class="form-control" />
						</div>
						
						<span class="title"></span>
						<span class="br"></span>
						
						<div class="form-group">
							<label>URL</label>
							<input type="url" name="url" th:field="*{url}" placeholder="URL" required="required" class="form-control" />
						</div>
						<span class="url"></span>
						
					</form>
						
						<button class="btn btn-1g btn-primary btn-block" id="articleSubmit" name="" onClick="articleCreate();" data-change="" disabled>投稿</button>
					
					
			</div>
					
		</div>
		
	</div>
	
</div>

<div class="modal fade" id="editArticle">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
			<div class="text-right">
			
				<a href="#" class="btn btn-default " data-dismiss="modal">☓閉じる</a>
			
			</div>
				
			<div class="modal-header">
			
					<div class="titlebox">
					
						<h2>記事更新</h2>
					
					</div>
				
			</div>
				
			<div class="modal-body">
				
				<div>
				
					<img src="icon/usericon.jpg" class="usericon" />
					<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()">username</span>
				
				</div>
				
				<div style="font-size:17px;">
				
				<span id="editDate"></span>
				
				</div>
				
					<form name="editArticle" method="post" th:object="${articleForm}" th:action="@{/edit}" id="editArticleForm">
					
						<input type="hidden" name="userid" th:field="*{userid}" value="" />
						<input type="hidden" name="calendarDate" th:field="*{calendarDate}" placeholder="日付" value="" />
						<div class="form-group">
						<label>タイトル</label>
						<input type="text" name="title" th:field="*{title}" placeholder="タイトル" required="required" autofocus="autofocus" class="form-control" />
						</div>
						<span class="title"></span>
						<span class="br"></span>
						<div class="form-group">
						<label>URL</label>
						<input type="url" name="url" th:field="*{url}" placeholder="URL" required="required" class="form-control" />
						</div>
						<span class="url"></span>
						<span class="br"></span>
						
					</form>
						<button class="btn btn-lg btn-primary" id="editSubmit" onClick="articleEdit();" data-change="" disabled>更新</button>
						<button class="btn btn-lg btn-danger" id="deleteSubmit" onClick="articleDelete();" data-change="">削除</button>
				</div>
						
			</div>
					
		</div>
		
	</div>
	
</div><!-- このdivは触らない -->
</body>
</html>