<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function(){
	$("#menubutton").click(function() {
		  $("#usermenu").slideToggle();
		});
});

$(function(){
	  $('.article').click(function(){
		  console.log($(".article",this).text());
	    if($(this,'.badbatsumaru').text() == "◯"){
	      $(this,'.badbatsumaru').text("☓");
	    }else{
	      $(this,'.badbatsumaru').text("◯");
	    }
	  });
	});
$(function(){
	$('#submitform').click(function(){
		var enabledDates = [];
		$('.article').each(function(){
			if($(this).text() == "◯"){
			var day = $(this).attr("id");
			enabledDates.push(day);
		}})
		if(enabledDates.length == 0){
			alert("一日は投稿可能な日を指定してください（設定が反映されません）");
			return false;
		}
		var str = enabledDates.join(',');
		$(':hidden[name = "enabledDates"]').val(str);
	});
	$('.tr').each(function(){
		console.log($(".badbatsumaru",this).text());
	});
});
$(function(){
	$('#delete').click(function(){
	    if(!confirm('同じ月に登録された記事も削除されます。よろしいですか？')){
	        /* キャンセルの時の処理 */
	        return false;
	    }else{
	        /*　OKの時の処理 */
	        return true;
	    }
	});
});
</script>
<script type="text/javascript">
function pickId(){
var form = document.forms.usrid;
var subid = form.subid.value;
document.editTheme.updatedUserid.value=subid;
}
</script>
<title>アドベントカレンダー</title>
</head>
<body onLoad="pickId();">

<div th:object="${users}" th:each="users:${users}"  th:if="${username} == ${users.username}">

	<form name="usrid">
		<input type="hidden" name="subid" th:value="${users.id}" />	
	</form>
	
</div>
<form name="editTheme" method="post" th:object="${themeForm}" th:action="@{/theme/edit}">

<div class="adminbody">

	<div class="adminheader">
	
		<div class="tr">
		
				<div class="titlebox">

					<h2><a href="/">アドベントカレンダー</a></h2>
					
				</div>
				
			<div class="stat">
			
				<a href="/loginForm" sec:authorize="isAnonymous()">ログイン</a><br sec:authorize="isAnonymous()" />
				<span sec:authentication="principal.user.username" sec:authorize="isAuthenticated()">duke　さん</span><br sec:authorize="isAuthenticated()"  />
				<img src="/icon/usericon.jpg" sec:authorize="isAuthenticated()" class="usericon" />
				<div id="menubutton" sec:authorize="isAuthenticated()">▼</div>
				
				<div id="usermenu" sec:authorize="isAuthenticated()">
					<a href = "/users" sec:authorize="hasRole('ROLE_ADMIN')">ユーザー管理</a>
					<a href = "/theme" sec:authorize="hasRole('ROLE_ADMIN')" class="br">テーマ管理</a>
					<a href = "/" sec:authorize="isAuthenticated()" class="br">トップ画面へ戻る</a><span class="br"></span>
					<input type="submit" class="btn btn-default btn-xs" value="ログアウト" th:formaction="@{/logout}"  sec:authorize="isAuthenticated()" formnovalidate="formnovalidate" />
				</div>
	
			</div>
				
			</div>
		
		</div>
		
		<div class="table" style="width:80%;margin-left:auto;margin-right:auto;">
	
		<div class="tr">
		
			<div class="title">
			
			<h3>カレンダー編集</h3>
			
			</div>
			
			<div class="stat" style="padding-top:20px;">
			
			</div>
			
		</div>
		
		<div class="tr">
	
	
				<div id="details">
				
					<input type="hidden" th:value="${theme.id}" name="id" />
					<input type="hidden" th:value="${theme.calendarMonth}" name="calendarMonth" />
					カレンダー月：<span th:text="${#dates.format(theme.calendarMonth,'yyyy 年MM 月')}">カレンダーの月</span>
					<div class="form-group">
						<span class="br"></span>
						<label>テーマ</label>
						<input type="text" th:value="${theme.name}" name="name" id="name" required="required" class="form-control input-lg" />
					<span th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}">Error</span>
					</div>
					
					<div class="form-group">
						<label>テキスト</label>
						<input type="text" th:value="${theme.detail}" name="detail" id="detail" required="required" class="form-control input-lg" />
					</div>
					
					<span th:if="${#fields.hasErrors('detail')}" class="help-block" th:errors="*{detail}">Error</span>
					<input type="hidden" name = "enabledDates" value="" />
					<input type="hidden" name = "createdUserid" th:value="${theme.createdUserid}" />
					<input type="hidden" name = "updatedUserid" value="" />
		
				</div>
			
			</div>
		
	</div>
		
		
	<div class="admintable">
		
		<div class="tbody">
				
			<div class="tr">
			
				<div th:class="week"><span class="red">日</span></div>
				<div class="week">月</div>
				<div class="week">火</div>
				<div class="week">水</div>
				<div class="week">木</div>
				<div class="week">金</div>
				<div class="week"><span class="blue">土</span></div>
				
			</div>
			<div th:object = "${calendar}" th:each="week,stat: ${calendar}" class="tr">
			
				<div th:each="days,stat: ${week}" class="td">
				
					<div class="day">
						<!-- 土日でなく、今月である黒色の日付を表示 -->
						<span th:text="${days.day}" th:if="${days.isHoliday} == false and ${days.isAvalable}">日付</span>
						<!-- 土日でかつ日曜日であれば赤、週の最後は土曜日なので青 -->
						<span th:text="${days.day}" th:class="red" th:if = "${days.isHoliday} and ${days.isAvalable}" th:classappend = "${stat.count} % 7 == 0 ? 'blue'">日付</span>
						<!-- 有効月でなければグレー。 -->
						<span th:text="${days.day}" th:class="gray" th:if = "${days.isAvalable} == false">日付</span>
					</div>
					
					<div class="article" style="text-align:center;vertical-align:middle;cursor:pointer;"
						th:if="${days.isEnabled} == true and ${days.isHoliday} == false and ${days.isAvalable} == true" th:id="${days.day}">◯</div>
					
					<div class="article" style="text-align:center;vertical-align:middle;cursor:pointer"
						th:if="${days.isEnabled} == false and ${days.isAvalable} == true or ${days.isHoliday} == true and ${days.isAvalable} == true" th:id="${days.day}">☓</div>
					
				</div>
				
			</div>
		
		</div>
			
	</div>
		<div class="admintable">

		<button class="btn btn-primary btn-lg" type="submit" id="submitform">編集</button>
		<button class="btn btn-danger btn-lg" type="submit" th:formaction="@{/theme/delete}" id="delete">削除</button>
		<button name="goToTop" type="submit" class="btn btn-default btn-lg" formnovalidate="formnovalidate">戻る</button>
	
	</div>
		
</div>
</form>
</body>
</html>